extends tmpl/_layout

block vars
	- var pageId = 'main'

block body
	section.top-slider-wrap.mb-indent
		.container
			.row
				.col-12
					.top-slider-wrap__list
						.swiper.top-slider.js-top-slider
							.swiper-wrapper
								-
									var list=[
										{title:'IPhone 16', text:'Палитра для тех, кто не боится быть ярким'},
										{title:'IPhone 12', text:'Палитра не боится быть ярким'},
									]
								each item in list
									.swiper-slide.top-slider__item
										.top-slider__content
											.top-slider__bg(style="background-image: url(/upload/bg-iphone16.jpg)")

											.top-slider__info
												.top-slider__title= item.title
												.top-slider__text= item.text

											a(href="#").btn Выбрать

							.swiper-pagination.js-top-slider-pagination

						.info-card.d-none.d-lg-flex(style="background-image: url(/upload/apple-watch-ultra3.jpg)")
							.info-card__title Apple Watch Ultra 3
							a(href="#").btn Выбрать

						.info-card.info-card_thin(style="background-image: url(/upload/ipad-pro.jpg)")
							.info-card__top
								.info-card__title iPad Pro
								a(href="#").btn Выбрать

							.info-card__text
								|Палитра для тех,
								br
								|кто не боится быть ярким

	section.popular-slider-wrap.m-indent
		.container
			.row
				.col-12
					.popular-slider-wrap__top
						h2 Популярные категории

						.slider-arr-list
							.swiper-button-prev.slider-arr.js-popular-slider-prev
								+svg('ic-arr-left','ic-arr-left', '13', '23')
							
							.swiper-button-next.slider-arr.js-popular-slider-next
								+svg('ic-arr-right','ic-arr-right', '13', '23')

					.swiper.popular-slider.js-popular-slider
						.swiper-wrapper
							-
								var list=[
									{title:'iPhone', price:'от 50 000 ', img:'iphone.png'},
									{title:'AirPods', price:'от 50 000 ', img:'airpods.png'},
									{title:'MacBook', price:'от 50 000 ', img:'macbook.png'},
									{title:'Смартфоны', price:'от 50 000 ', img:'phones.png'},
									{title:'AirPods', price:'от 50 000 ', img:'airpods.png'},
									{title:'MacBook', price:'от 50 000 ', img:'macbook.png'},
								]
							each item in list
								.swiper-slide.popular-slider__item
									.popular-slider__content
										.popular-slider__title= item.title
										.popular-slider__price= item.price
											| &#8381;

									.popular-slider__img
										img(src="/upload/"+item.img, alt="")

	section.catalog-slider-wrap.js-catalog-slider-wrap.m-indent
		.container
			.row
				.col-12
					.catalog-slider-wrap__top
						h2 Хиты продаж

						.slider-arr-list
							.swiper-button-prev.slider-arr.js-catalog-slider-prev
								+svg('ic-arr-left','ic-arr-left', '13', '23')
							
							.swiper-button-next.slider-arr.js-catalog-slider-next
								+svg('ic-arr-right','ic-arr-right', '13', '23')
					

					.swiper.hits-slider.js-catalog-slider
						.swiper-wrapper
							-
								var list=[
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
									{new:'true', hit:'true', img:'hit1.png', title:'Смартфон Samsung Galaxy S25 Ultra 12/1Tb Titanium Silverblue/Синий титан'},
								]
							each item in list
								.swiper-slide.catalog-item
									.stickers
										if(item.new)
											.stickers__item.stickers__item_purple new
											
										if(item.hit)
											.stickers__item.stickers__item_orange hit

									.catalog-item-actions
										.catalog-item-actions__item
											+svg('ic-wish','ic-wish', '21', '18')

										.catalog-item-actions__item
											+svg('ic-compare','ic-compare', '12', '16')

									a(href="#").catalog-item__img-wrap
										.catalog-item__img-content
											.catalog-item__img
												img(src="/upload/"+item.img, alt="")

									.catalog-item__content
										.catalog-item__title
											a(href="#")= item.title

									.catalog-item__btn
										a(href="#").btn Под заказ

									.catalog-item-params
										-
											var params=[
												{label:'Операционная система:', val:'Android'},
												{label:'Сим-карта:', val:'Nano-SIM + eSIM'},
												{label:'Объем встроенной памяти:', val:'128 Гб'},
											]
										each param in params
											.catalog-item-params__item
												span.catalog-item-params__label= param.label
												span.catalog-item-params__val= param.val

	section.catalog-slider-wrap.js-catalog-slider-wrap.m-indent
		.container
			.row
				.col-12
					.catalog-slider-wrap__top
						h2 Распродажа

						.slider-arr-list
							.swiper-button-prev.slider-arr.js-catalog-slider-prev
								+svg('ic-arr-left','ic-arr-left', '13', '23')
							
							.swiper-button-next.slider-arr.js-catalog-slider-next
								+svg('ic-arr-right','ic-arr-right', '13', '23')
					

					.catalog-slider.js-catalog-slider
						.swiper-wrapper
							-
								var list=[
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
									{sale:'true', rustore:'true', img:'sale-product1.png', price:'38 750', old_price:'48 750', status:'В наличии', title:'Смартфон Apple iPhone 13 128Gb Midnight/Темная Ночь'},
								]
							each item in list
								.swiper-slide.catalog-item
									.stickers
										if(item.sale)
											.stickers__item.stickers__item_green sale
											
										if(item.rustore)
											.stickers__item.stickers__item_small БЕЗ RUSTORE

									.catalog-item-actions
										.catalog-item-actions__item
											+svg('ic-wish','ic-wish', '21', '18')

										.catalog-item-actions__item
											+svg('ic-compare','ic-compare', '12', '16')

									a(href="#").catalog-item__img-wrap
										.catalog-item__img-content
											.catalog-item__img
												img(src="/upload/"+item.img, alt="")

									.catalog-item__content
										.catalog-item__status.d-md-none= item.status

										.catalog-item__info
											.catalog-item__price-wrap
												span.catalog-item__price= item.price
													| &#8381;
												| 
												span.catalog-item__old-price= item.old_price

											.catalog-item__status= item.status

										.catalog-item__title
											a(href="#")= item.title

									.catalog-item__btn
										a(href="#").btn Купить
										a(href="#").btn.btn_border Купить в 1 клик

									.catalog-item-params
										-
											var params=[
												{label:'Операционная система:', val:'iOS 15'},
												{label:'Сим-карта:', val:'Nano-SIM + eSIM'},
												{label:'Объем встроенной памяти:', val:'128 Гб'},
											]
										each param in params
											.catalog-item-params__item
												span.catalog-item-params__label= param.label
												span.catalog-item-params__val= param.val
		
	section.brands-wrap.m-indent
		.container
			.row
				.col-lg-4
					h2 Популярные бренды
					p В нашем магазине представлены самые известные бренды электроники со всего мира

				.col-lg-7.offset-lg-1
					.brands
						-
							var list=[
								{img:'ciji.png'},
								{img:'nintendo.png'},
								{img:'apple.png'},
								{img:'samsung.png'},
								{img:'xiaomi.png'},
								{img:'honor.png'},
								{img:'dell.png'},
								{img:'playstation.png'},
								{img:'huawei.png'},
								{img:'google.png'},
								{img:'dyson.png'},
								{img:'garmin.png'},
							]
						each item in list
							.brands__item
								img(src="/upload/"+item.img, alt="")
	
	section.news-main-wrap.m-indent
		.container
			.row
				.col-12
					h2 Новости и статьи

					.news-main
						-
							var list=[
								{img:'main-news1.jpg', title:'В чем отличия iPhone 16 Pro и iPhone 15 Pro?', date:'25.12.2024', text:'В 2024 году Apple представил новый смартфон iPhone 16 Pro. При этом предыдущий флагман Айфон 15 Про был снят с производства...'},
								{img:'main-news2.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								{img:'main-news3.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								{img:'main-news4.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								{img:'main-news2.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								{img:'main-news3.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								{img:'main-news4.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								{img:'main-news1.jpg', title:'В чем отличия iPhone 16 Pro и iPhone 15 Pro?', date:'25.12.2024', text:'В 2024 году Apple представил новый смартфон iPhone 16 Pro. При этом предыдущий флагман Айфон 15 Про был снят с производства...'},
							]
						each item, index in list
							.news-item
								.news-item__bg(style="background-image: url(/upload/"+item.img+")")

								.news-item__wrap
									.news-item__content
										.news-item__title= item.title
										.news-item__date= item.date

										.news-item__info
											.news-item__text= item.text

											a(href="#").news-item__link Читать далее

	include ./components/_form-page

	include ./components/_subscribe
	
	include ./components/_main-tags