extends tmpl/_layout

block vars
	- var pageId = 'news-detail'
	-
		var breadcrumbs=[
			{href:'/',name:'Магазин электроники'},
			{href:'#',name:'Блог'},
			{href:'#',name:'Чего ждать от iPhone в 2025 году? Все слухи о грядущем iPhone 17 Pro'},
		];

block body
	section.news-detail
		.container
			.row
				.col-lg-9
					h1 Чего ждать от iPhone в 2025 году? Все слухи о грядущем iPhone 17 Pro

					.views
						.views__icon
							img(src="/img/view.png", alt="")
						.views__val 5215

					.news-detail__content
						p Осталось меньше месяца до ожидаемой презентации новых iPhone. Традиционно 9 или 10 числа купертиновцы представят линейку iPhone 17, и это грозит стать не рядовым апдейтом, а самым значимым обновлением за последние годы.

						p Линейка кардинально меняет состав: модель Plus уходит, а ее место занимает невесомый и ультратонкий iPhone 17 Air. Он выйдет вместе с базовым iPhone 17 и флагманами Pro и Pro Max. Инсайдеры и аналитики поделились в сети подробностями о том, чего нам следует ожидать от новых устройств, и теперь у нас есть довольно много информации об изменениях, которые планирует подготовить Apple.

						img(src="/upload/pic1.jpg", alt="")

						p Ключевое различие стирается – технология ProMotion с плавностью 120 Гц на продвинутых OLED LTPO-панелях перестает быть эксклюзивом «прошек» и становится стандартом для всех устройств серии.

						p Настоящий же фокус сосредоточен на Pro-моделях. Тяжелый титан уходит в прошлое, уступая место практичному алюминию.  Apple не откатывается назад, а внедряет гибридный корпус. Сверху – прочный алюминиевый сплав, эффективно отводящий тепло от мощной начинки, снизу – стекло, сохраняющее магию MagSafe. Алюминий придаст телефону долгожданную легкость, так как он примерно на 40% легче титана. Его теплопроводность в паре с новой системой охлаждения – испарительной камерой, рассеивающей тепло по большой площади – должна наконец решить проблему перегрева в играх и при интенсивной съемке. 

						img(src="/upload/pic2.jpg", alt="")

						p Дизайн камеры тоже претерпит трансформацию: привычный квадратный «остров» исчезнет, уступив место длинному горизонтальному модулю в форме таблетки, который займет почти всю ширину корпуса. На фото видно, что модуль будет окрашен в цвет корпуса, создавая единый вид, как у текущих базовых моделей. Эту же эстетику, вероятно, унаследует и iPhone 17 Air. Ходят слухи, что все модели iPhone 17 получат переработанный интерфейс Dynamic Island он может стать меньше.

						img(src="/upload/pic3.jpg", alt="")

						p Размеры экранов Pro-серии останутся прежними – 6.3 дюйма для Pro и 6.9 дюйма для Pro Max, но возврат к алюминию открывает простор для более смелых цветов. К классическим черному, серому и серебристому добавятся глубокий темно-синий и эффектный оранжевый с медным отливом. 

						img(src="/upload/pic4.jpg", alt="")

						p Главная интрига – слухи о загадочном «жидком» цвете, возможно, замаскированном под «белый». Говорят о переливающемся эффекте, который может напрямую перекликаться с ожидаемым дизайном Liquid Glass в iOS 26.

						img(src="/upload/pic5.jpg", alt="")

						p Под капотом всех моделей, особенно Pro, скрывается новейший процессор A19 Pro, изготовленный по передовому 3-нм техпроцессу TSMC, обещающий значительный скачок в производительности и энергоэффективности. 

						p Впервые в истории iPhone возможна установка 12 ГБ оперативной памяти, а по информации от инсайдера Instant Digital ожидается, что минимальный объем встроенной памяти увеличится до 256 ГБ. По данным источника, Apple планирует отказаться от модели с 128 ГБ памяти.

						p Фронтальная камера на всех моделях без исключения получит долгожданный апгрейд до 24 МП, гарантируя невероятно четкие селфи и огромную свободу кадрирования.

						img(src="/upload/pic6.jpg", alt="")

						p Основные камеры предлагают градацию: iPhone 17 Air довольствуется одной, но мощной 48 МП камерой, базовый iPhone 17 получит двойную систему из 48 МП широкоугольного и 48 МП сверхширокоугольного объективов, а флагманские Pro и Pro Max буду оснащены тремя камерами, каждая по 48 МП: широкоугольной, сверхширокоугольной и эксклюзивным для Pro Max телефото с продвинутой тетрапризменной стабилизацией. Pro-модели также могут получить механическую диафрагму для точного контроля глубины резкости, как на зеркальных камерах, а Pro Max станет первым iPhone с поддержкой записи видео в разрешении 8K и функцией Dual Rec для одновременной съемки с фронтальной и тыльных камер.

						p Для хорошей работы стольких функций, Apple уделяет огромное внимание автономности и удобству. По слухам iPhone 17 Pro Max получит рекордный аккумулятор емкостью 5000 мАч – это на целых +324 мАч больше, чем у предшественника. Эффективность нового A19 Pro и модема Snapdragon X80 помогут превратить эту емкость в реальное время работы. 

						img(src="/upload/pic7.jpg", alt="")

						p В июне была обнаружена медная термопластина, предположительно предназначенная для системы охлаждения пара.
						p Зарядка тоже эволюционирует: наконец-то появится полноценная обратная беспроводная зарядка мощностью до 7.5 Вт, позволяющая iPhone 17 Pro по-настоящему «оживлять» разрядившиеся AirPods или Apple Watch. Поддержка нового стандарта Qi 2.2 откроет возможность быстрой беспроводной зарядки самого iPhone мощностью до 25 Вт с совместимыми устройствами. Проводная зарядка сохранит привычные 35 Вт.

						img(src="/upload/pic8.jpg", alt="")

						p Слухи рисуют iPhone 17 как самый амбициозный прыжок Apple за долгое время. Pro-серия меняет философию: легкий алюминий вместо титана, монолитная камера–«таблетка», интригующие цвета. Камеры Pro Max с тремя 48 МП сенсорами и 8K бросают вызов профессиональной технике, а 24 МП фронталка – долгожданный стандарт для всех. A19 Pro и 12 ГБ RAM закладывают фундамент для будущего ИИ. А доступный всем ProMotion обещает плавность интерфейса. 
						p Очевидно, сентябрьский анонс готовит не просто новые гаджеты, а революционный этап в развитии смартфонов. 
							b
								i iPhone 17 уже скоро в ManyPhone!
						p Источники:
						p https://www.macrumors.com/roundup/iphone-17-pro/

					.news-detail__back
						a(href="#").btn.btn_border-color Возврат к списку

					.news-detail__bottom
						.benefit
							.benefit__label Полезна ли была статья?

							.benefit__list
								.benefit__item Да
								.benefit__item Нет

						a(href="#").btn.btn_border-grey
							+svg('ic-arr-left','ic-arr-left', '9', '16')
							|Вернуться в статьи

					.other-news-wrap
						h2 Другие статьи

						.other-news
							-
								var list=[
									{img:'main-news1.jpg', title:'В чем отличия iPhone 16 Pro и iPhone 15 Pro?', date:'25.12.2024', text:'В 2024 году Apple представил новый смартфон iPhone 16 Pro. При этом предыдущий флагман Айфон 15 Про был снят с производства...'},
									{img:'main-news4.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
									{img:'main-news2.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
									{img:'main-news3.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
									{img:'main-news4.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
									{img:'main-news3.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил...'},
								]
							each item, index in list
								.news-item
									.news-item__bg(style="background-image: url(/upload/"+item.img+")")

									.news-item__wrap
										.news-item__content
											.news-item__title= item.title
											.news-item__date= item.date

											.news-item__info
												.news-item__text= item.text

												a(href="#").news-item__link Читать далее

				.offset-xxl-1.col-xxl-2.col-lg-3.d-none.d-lg-block
					.news-slider-wrap
						.news-slider-wrap__title Другие статьи

						.swiper.news-slider.js-news-slider
							.swiper-wrapper
								-
									var list=[
										{img:'news-slide.jpg', title:'Что делать, если айфон тормозит', date:'25.12.2024', text:'В 2024 году Apple представил свой телефон'},
										{img:'news-slide.jpg', title:'Что делать, если айфон тормозит 2', date:'25.12.2024', text:'В 2024 году Apple'},
									]
								each item in list
									.swiper-slide.news-slider-item
										.news-slider-item__bg(style="background-image: url(/upload/"+item.img+")")

										.news-slider-item__wrap
											.news-slider-item__content
												.news-slider-item__title= item.title
												.news-slider-item__date= item.date

												.news-slider-item__info
													.news-slider-item__text= item.text

													a(href="#").news-slider-item__link Читать далее

						.news-slider__arr
							.swiper-button-prev.js-news-slider-prev
								+svg('ic-arrow-long-left','ic-arrow-long-left', '27', '12')
							
							.swiper-button-next.js-news-slider-next
								+svg('ic-arrow-long-right','ic-arrow-long-right', '27', '12')



	include ./components/_subscribe
	
	include ./components/_main-tags